<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.smallc.footballLottery.repository.IRoleRepository">

    <select id="getRoleNameByUsername" parameterType="String" resultType="String">
        SELECT roleName FROM tb_role WHERE ID in(
          SELECT roleID FROM re_user_role ur JOIN tb_user u
          ON ur.userID = u.ID WHERE u.username = #{username}
        )
    </select>


</mapper>